<form action="/todo">
<div class="card mt-2 container justify-content-center w-25">
  <div class="card-body">
    <h5 class="card-title">¿Seguro que desea Eliminar la tarea?</h5>
    <p class="card-text">de ID: {{id}}</p>
    <a href="/todo?id={{id}}"><button type="button" class="btn btn-danger" >Eliminar</button></a>
    <a href="/"><button type="button" class="btn btn-primary" >Volver</button></a>
  </div>
</div>
</form>